@font-face {
  font-family: "osake";
  src: url("./Osake-x3oqj.otf");
}

:root {
  --primary-font: "raleway";
  --secondary-font: "Raleway Dots";
  --white-color: white;
  --bg-color: rgb(169, 169, 169);
  --highlight-color: rgb(243, 136, 81);
}

.hidden {
  display: none;
}

.outer {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/src/images/water.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(
    315deg,
    rgba(24, 27, 27, 0.8) 0%,
    rgba(96, 107, 108, 0.8) 74%
  );
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-color {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
}

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s ease-in;
}

.moved-left {
  transform: translateX(-100vw);
}

.section-title {
  font-family: "osake";
  font-size: 3rem;
  color: var(--white-color);
}

.title-sub-text {
  font-family: var(--primary-font);
  color: var(--white-color);
}

.section-container {
  position: relative;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar {
  box-sizing: border-box;
  height: 100vh;
  width: 40vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -45vw;
  color: var(--white-color);
  transition: transform 0.5s ease-in;
  background-color: rgba(105, 105, 105, 1);
  box-shadow: 10px 0 30px 20px rgba(0, 0, 0, 0.8);
  padding: 0 1rem;
  z-index: 1;
  animation: hideNavbar 1s ease-in forwards;
}

@keyframes hideNavbar {
  from {
    transform: translateX(45vw);
  }
  to {
    transform: translateX(0);
  }
}

.navbar-displayed {
  height: 100vh;
  width: 40vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -45vw;
  color: var(--white-color);
  background-color: rgba(105, 105, 105, 1);
  padding: 0 1rem;
  z-index: 1;
  box-shadow: 10px 0 30px 20px rgba(0, 0, 0, 0.8);
  animation: displayNavbar 1s ease-in forwards;
}

@keyframes displayNavbar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(45vw);
  }
}

.navbar-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: var(--primary-font);
  text-align: center;
}

.navbar-ol {
  padding: 0;
}

.navbar-element {
  list-style: none;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 2rem 1rem;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.navbar-icon {
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  transition: transform 0.5s ease;
}

.navbar-icon:active {
  transform: scale(0.75);
}

/* LANDING PAGE */

.landing {
  justify-content: center;
}

.landing-title {
  color: var(--white-color);
  font-family: "osake";
  font-size: 4.5rem;
  border-bottom: 2px solid var(--white-color);
}

.landing-subtitle {
  color: var(--white-color);
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* ABOUT SECTION */
.about-item-container {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  width: 90wv;
  max-width: 450px;
}

@keyframes growShrinkContent {
  from {
    clip-path: inset(0px 0px 0px 0px);
  }
  to {
    clip-path: inset(40% 45% 40% 45%);
  }
}

@keyframes moveLeftBorder {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(450%, -200%);
  }
}

@keyframes moveRightBorder {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-450%, 200%);
  }
}

.about-item-border {
  height: fit-content;
  width: fit-content;
  position: relative;
  margin: 1rem;
}

.about-item-border:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 20%;
  border-top: 2px solid var(--highlight-color);
  border-right: 2px solid var(--highlight-color);
  transition: 0.5s;
  box-sizing: border-box;
}

.about-item-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 20%;
  border-bottom: 2px solid var(--highlight-color);
  border-left: 2px solid var(--highlight-color);
  transition: 0.5s;
  box-sizing: border-box;
}

.school h3 {
  color: var(--highlight-color);
  letter-spacing: -1.875px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
}

.text-btn {
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  text-align: left;
  margin: 0.25rem;
  position: relative;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
}

.text-btn.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--highlight-color);
  border-left: 2px solid var(--highlight-color);
  transition: 0.5s;
  box-sizing: border-box;
  transform-origin: left;
}

.text-btn.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid var(--highlight-color);
  border-right: 2px solid var(--highlight-color);
  transition: 0.5s;
  box-sizing: border-box;
  transform-origin: right;
}

.paragraph-with-backdrop-boxshadow {
  padding: 0.6rem;
  color: var(--white-color);
  width: 90%;
  max-width: 700px;
  font-size: 1.1rem;
  text-align: left;
}

.paragraph-no-margin {
  font-family: var(--primary-font);
  margin-bottom: 1rem;
}

.about-item {
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: 1.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  width: fit-content;
  margin: 0.75rem 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: letter-spacing 0.5s;
  border: 3px solid var(--white-color);
}

.about-img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
}

.sub-title {
  text-transform: uppercase;
  font-family: var(--primary-font);
  color: var(--white-color);
  letter-spacing: 1px;
  font-style: italic;
}

.list-title {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  color: var(--white-color);
  margin-top: 1rem;
}

ol {
  list-style-type: disc;
  color: var(--white-color);
  text-align: left;
}

.technologies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-icon {
  color: var(--white-color);
  font-size: 4rem;
}

.paragraph-title {
  text-align: left;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  color: var(--white-color);
  margin: 1rem 0 0 1rem;
}

.regular-paragraph-left {
  text-align: left;
  color: var(--white-color);
  width: 90%;
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
}

.underlined-title-small {
  font-family: var(--primary-font);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: underline;
  letter-spacing: 2px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

/* PROJECT SECTION */

.project-title {
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: 1.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  width: fit-content;
  margin: 1.25rem 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: letter-spacing 0.5s;
  border: 3px solid var(--white-color);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -100%;
  backdrop-filter: blur(5px);
}

.projects-array-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.to-side {
  animation: toSide 0.7s ease-in forwards;
}

@keyframes fromSide {
  from {
    transform: translate(50vw, -50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes toSide {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(50vw, -50%);
  }
}

.project-close-icon {
  align-self: flex-start;
  margin: 1rem;
  font-size: 2rem;
  color: var(--white-color);
}

.underlined-title {
  font-family: var(--primary-font);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: underline;
  letter-spacing: 3px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.regular-paragraph {
  padding: 0.6rem;
  color: var(--white-color);
  width: 90%;
  font-size: 1.1rem;
  margin: 1.2rem 0px;
}

.project-technologies-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 1rem 0 0 1rem;
}

.project-tech-icon {
  color: var(--white-color);
  font-size: 2rem;
}

.btn-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.falling {
  animation: falling 5s ease-in-out forwards;
  transform-origin: right;
}

@keyframes falling {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-110deg);
  }
  20% {
    transform: rotate(-60deg);
  }
  30% {
    transform: rotate(-105deg);
  }
  40% {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  60% {
    transform: rotate(-75deg);
  }
  70% {
    transform: rotate(-95deg);
  }
  80% {
    transform: rotate(-80deg);
  }
  90% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg) translateX(-700px);
  }
}

/* CONTACT SECTION */

.contact-form-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  max-width: 500px;
  background-color: rgba(248, 248, 255, 0.8);
  color: rgba(38, 38, 38, 0.8);
  border: none;
  padding: 1%;
  font-size: 20px;
  font-family: var(--primary-font);
}

.form__input:focus {
  outline: none;
  border-bottom: 5px solid rgba(70, 194, 255);
}

::placeholder {
  color: rgba(38, 38, 38, 0.8);
  padding: 1%;
  font-size: 20px;
  font-family: var(--primary-font);
}

.field {
  height: 200px;
  width: 100%;
}

.btn {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 25px;
  background: transparent;
  color: var(--white-color);
  letter-spacing: 3px;
  font-weight: 600px;
  border: 2px solid var(--white-color);
  padding: 15px 0;
  transition: transform 0.3s ease-in, letter-spacing 0.3s ease-in;
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  margin: 10px 0px;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.97);
}

.icons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.social-media-icon {
  color: var(--white-color);
  font-size: 3rem;
}

.social-media-icon:active {
  transform: scale(0.97);
}

.errorMessage {
  font-size: 1.1rem;
  color: red;
  background-color: rgba(248, 248, 255, 0.8);
  text-transform: uppercase;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  padding: 1%;
}

.message-sent-alert {
  background-color: rgba(159, 266, 191, 0.8);
  color: var(--white-color);
  padding: 15px 30px;
  border: 3px solid var(--white-color);
  border-radius: 20px;
  box-shadow: -10px -5px 10px 5px rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  animation: sentAlert 6s ease-in-out forwards;
}

/*Project Component */

.project-container {
  width: 80vw;
  max-width: 450px;
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  margin: 0.25rem;
}

.project-container-caption {
  color: var(--white-color);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}

.project-container-caption.show {
  transform: translateY(0);
}
.move-up {
  animation: moveDown 1s ease-in-out reverse;
}
.move-down {
  animation: moveDown 1s ease-in-out forwards;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.project-container-caption h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.project-container-caption p {
  font-size: 1.25rem;
  margin: 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}

.project-content.show {
  transform: translateY(0);
}

.move-content-down {
  animation: moveContentDown 1s ease-in-out forwards;
}

@keyframes moveContentDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes sentAlert {
  0% {
    right: -100%;
  }
  10% {
    right: 50px;
  }
  90% {
    right: 50px;
  }
  100% {
    right: -100%;
  }
}

@media only screen and (min-width: 600px) {
  .landing-title {
    font-size: 7.5rem;
  }

  .landing-subtitle {
    font-size: 3.4rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .paragraph-with-backdrop-boxshadow {
    font-size: 1.8rem;
  }

  .about-item {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .underlined-title {
    font-size: 2.5rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .list-title {
    font-size: 2rem;
  }

  li {
    font-size: 1.25rem;
  }

  .paragraph-title {
    font-size: 1.9rem;
  }

  .regular-paragraph-left {
    font-size: 1.6rem;
  }

  .regular-paragraph {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1000px) {
  .landing-title {
    font-size: 15rem;
  }

  .main-content {
    position: absolute;
    left: 20vw;
    top: 0;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    left: 0;
    top: 0;
    width: 20vw;
    background-color: transparent;
    box-shadow: none;
    animation: none;
  }

  .navbar-title {
    font-size: 2.5rem;
  }

  .navbar-element {
    font-size: 1.75rem;
  }

  .navbar-icon {
    display: none;
  }

  .message-sent-alert {
    bottom: 200px;
    right: 50px;
    font-size: 1.25rem;
  }

  .underlined-title-small {
    font-size: 1.6rem;
  }
}

@media (hover: hover) {
  .navbar-element:hover {
    transform: scale(1.5);
  }

  .project-title:hover {
    letter-spacing: 7px;
  }

  .about-item:hover {
    letter-spacing: 7px;
  }

  .btn:hover {
    transform: scale(1.1);
    letter-spacing: 5px;
  }
}
